<ul class="main-ul">
    <h1>Tour Management System</h1>
    <div class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/tourpackages">Tour Packages</a></li>
        <li><a href="/locations">Locations</a></li>
    </div>
</ul>